<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://cdn.jsdelivr.net/gh/rodrigolopez14/VanillaButton/public/Font/"
  </IfModule>
</FilesMatch>